<div class="task-item__agent">
    <img src="$$taskIconSrc" alt="task" class="task-item__agent-image">
    <div class="task-item__agent-name">$$taskAgent</div>
</div>
<div class="task-item__name">$$name</div>
<div class="task-item__status">$$status</div>
<div data-local-action="scrollDocument" class="task-item__link">$$paragraphText</div>
<div class="task-item__action pointer">
    <img data-local-action="deleteTask" src="./assets/icons/trash-can.svg" alt="img" class="task-item__delete-icon">
</div>
