<div class="backlog-conflict-modal">
    <div class="modal-header">
        <div class="modal-title">Task updated elsewhere</div>
        <div class="close" data-local-action="cancel">
            <img class="close-icon" src="./assets/icons/x-mark.svg" alt="close">
        </div>
    </div>
    <div class="modal-body">
        <div class="backlog-conflict-hint">
            This task changed while you were editing. Compare the versions before deciding.
        </div>
        <div class="backlog-conflict-grid" id="backlogConflictGrid"></div>
    </div>
    <div class="modal-actions">
        <button type="button" class="general-button secondary" data-local-action="cancel">Cancel</button>
        <button type="button" class="general-button" data-local-action="keepChanges">Save my changes</button>
    </div>
</div>
